.container-sidebar {
    position: absolute;
    display: flex;
    width: 35vh;
    height: 90vh;
    margin-left: 10%;
    margin-top: 2%;


}

.menuitem {
    width: 100%;
    top: 20%;
    display: flex;
    position: absolute;
    float: left;
    flex-direction: column;

}

.menus {
    font-size: 20px;
    margin-bottom: 30px;
    cursor: pointer;
}

.profilemenu {
    position: fixed;
    top: 20%;
    left: 15%;
    font-size: 13px;
    color: rgb(152, 151, 151);
}
.loader{
    height: 40px;
    position: absolute;
    top: 45%;
    left: 50%;
    animation: loader 1s infinite linear;
  }