.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.container-rightsidebar{
  display: flex;
  width: 50vh;
  height: 90vh;

}





@media screen and (min-width:160px) and (max-width:980px) {
  .elements {
    width: 96%;
    float: right;
    margin: 2%;
    font-size: 18px;

  }


}

@media screen and (min-width:160px) and (max-width:900px) {
  .postimage {
    width: 96%;
    margin: 2%;
  }

  .postbody {
    width: 100%;
  }

}

.content{
  width: 80vh;
  margin-left: 30%;
  height: 50vh;
  border-radius: 10px;
  margin-top: 2%;
}



.recipecontent {
  display: flex;
  float: right;
  height: 50vh;
  margin-left: 2%;
}

.homecomponent {
  display: grid;
  grid-template-areas: "Left_Sidebar Content Right_Sidebar ";
  display: flex;
  column-gap: 25px;
}


@keyframes loader {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

ul.sidebar-list{
  list-style: none;
  margin-top: 10px;

}


ul.sidebar-list li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  display: flex;
  flex-direction: column;
  cursor:pointer;
}

.editprofilebutton{
position: fixed;
top: 17%;
left: 13%;
font-size: 14px;
color: rgb(0, 0, 0);
cursor: pointer;
border: none;
background-color: transparent;
}




.sidebar-list {
  color: black;
}

ul.sidebar-list li:hover {
  background-color: rgb(174, 155, 119);
  color: white;
}
.logoutbutton:hover{
  color: black;
  background-color: rgb(255, 255, 255);


}
.logoutbutton{
  width: 90%;
  float: left;
  border-radius: 10px;
  transition: background-color 0.3s;
  position: absolute;
  bottom: 10px;
    
}




@media screen and (min-width:160px) and (max-width:600px) {
  .content {
    width: 96%;
    margin: 2%;

  }

  .recipecontent {
    width: fit-content;
  }


}