body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-image-top {
  border-radius: 60px;
}

.background {
  /* background-color:#F0E68C; */
  background-image: url(bg3.jpg);
  position: fixed;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


.card {
  position: relative;
  

}
.elements {
  background-color: rgb(240, 186, 87);
  float: right;
  width:48%;
  margin: 1%;
  
}
.username{
  float: left;
  margin-right: 68%;
  display: flex;
}


.postbody{
  width:50%;
  float: left;

}

.animated {
  animation-duration: 5s;
  animation-fill-mode: both;
}

.head{
  
  font-style: italic;
  color: green;
}


@media screen and (min-width:160px) and (max-width:600px) {
  .subhead {
    justify-content: center;
    margin: 2%;

  }
  .head{
    justify-content: center;
  }
  .animation-text{
    margin-top: 10%;
    margin-left: 30px;
    position: fixed;
    width: 60%;
  }

}

/* @media screen and (min-width:160px) and (max-width:1072px) {
 
 .animation-text{
    position: absolute;
    width: 60%;
  }

} */




.tag{
  
  font-style: oblique;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}



.bounceIn {
  animation-name: bounceIn;
}

.animation-text{
  color: white;
  top: 47%;
  background-color: rgb(62, 136, 66);
  transform: translate(-50%,-50%);
  height: 50px;
  overflow: hidden;
  border-radius: 20px;
  margin-left: 14%;
  width: 14%;
  color: rgb(255, 255, 255);
  position: fixed;
  


}
.loginhomepage{
  margin-right: 30%;
  
}

.line{
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  line-height: 60px;
}

.line:first-child{
  animation: anim 12s infinite;

}

@keyframes anim{
  0%{
    margin-top: 0;
  }
  16%{
    margin-top: -60px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -180px;
  }
  66%{
    margin-top: -120px;
  }
  82%{
    margin-top: -60px;
  }
  100%{
    margin-top: 0;
  }
}

.postbutton{
  position: fixed;
  bottom: 2%;
  right: 20%;
  height: 9%;
  width: 9%;
  color: rgb(59, 73, 73);
  
}
.postmodal{
  position: fixed;
  inset: 0;
  opacity: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;

 
}
.closemodal{
  height: 7vh;
  width: 7vh;
  float: inline-end;

}
.recipe-name{
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}
.imagecontainer img {
  max-width:  100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}
.recipeimage{
  display: none;
}
.ing-textarea{
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.process-textarea{
  width: 100%;
  height: auto;
  border-radius: 10px;

}
