body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.card-image-top {
  border-radius: 60px;
}



.background {
  /* background-color:#F0E68C; */
  background-image: url(bg3.jpg);
  position: fixed;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepagebackground {
  background-image: url(homepagebg.png);
  position: fixed;
  background-position: center;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

}


.card {
  position: relative;


}

.elements {
  background-color: rgb(240, 186, 87);
  float: right;
  width: 48%;
  margin: 1%;

}

.username {
  float: left;
  margin-right: 68%;
  display: flex;
}


.postbody {
  width: 50%;
  float: left;

}

.animated {
  animation-duration: 5s;
  animation-fill-mode: both;
}

.head {
  font-weight: bold;
  font-size: 65px;
  color: rgb(4, 95, 4);
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 25%;
  left: 30%;

}




@media screen and (max-width:1072px) {
  
  .head {
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    left: 25%;
    place-items: center;
    position: fixed;
  }
  .animation-text .animation-text div .animation-text1 .animation-text2 .animation-text3 {
    left: 20%;
  }

}

@media screen and (max-width:730px) {
  
  .head {
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    left: 15%;
    place-items: center;
    position: fixed;
  }

}
@media screen and (max-width:545px) {
  
  .head {
    justify-content: center;
    align-items: center;
    font-size: 8vw;
    left: 10%;
    place-items: center;
    position: fixed;
  }
  

}
@media screen and (max-width:450px) {
  
  .head {
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    left: 10%;
    place-items: center;
    position: fixed;
  }

}
@media screen and (max-width:320px) {
  
  .head {
    justify-content: center;
    align-items: center;
    font-size: 10vw;
    left: 10%;
    place-items: center;
    position: fixed;
  }

}

@media screen and (min-width:160px) and (max-width:545px) {
  .navbar{
    width: 100%;
    position: fixed;
  }
}



.animation-text {
  /* color: white;
  top: 47%;
  height: 70px;
  border-radius: 20px;
  margin-left: 14%;
  width: 20%;
  color: rgb(255, 255, 255);
  text-transform: uppercase; */
  overflow: hidden;
  height: 90px;
  position: absolute;
  top: 50%;
  left: 40%;



}

.animation-text div {
  color: #fff;
  height: 90px;
  margin-bottom: 10px;
  padding: 2px 15px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}

.animation-text3 {
  background: rgb(88, 2, 88);
  animation: animate 6s linear infinite;
  border-radius: 10px;
  width: 100%;
  font-size: 50px;
}

.animation-text2 {
  background: rgb(84, 26, 26);
  border-radius: 10px;
  width: 100%;
  font-size: 50px;
}

.animation-text1 {
  background: rgb(24, 63, 109);
  border-radius: 10px;
  width: 100%;
  font-size: 50px;
}



@keyframes animate {
  0% {
    margin-top: -300px;
  }

  5% {
    margin-top: -200px;
  }

  33% {
    margin-top: -200px;
  }

  38% {
    margin-top: -100px;
  }

  66% {
    margin-top: -100px;
  }

  71% {
    margin-top: 0px;
  }

  100% {
    margin-top: 0px;
  }
}

.postbutton {
  position: fixed;
  bottom: 2%;
  right: 30%;
  height: 7%;
  width: 9%;
  color: rgb(163, 100, 44);

}

.postmodal {
  position: fixed;
  inset: 0;
  opacity: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;


}

.closemodal {
  height: 7vh;
  width: 7vh;
  float: inline-end;

}

.recipe-name {
  width: 300px;
  padding: 10px;
  font-size: 1em;
  border: 2px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
}

.imagecontainer img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-top: 20px;
}

.recipeimage {
  display: none;
}

.ing-textarea {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.process-textarea {
  width: 100%;
  height: auto;
  border-radius: 10px;

}

.main-item {
  padding: 10px;
  background-color: #fff;
  width: 700px;
}

.background-masker {
  background-color: #fff;
  position: absolute;
}



@keyframes skeletonanimation {
  0% {
    background-position: -800px 0
  }

  100% {
    background-position: 800px 0
  }
}

.animated-background {
  position: absolute;
  display: flex;
  width: 35vh;
  height: 90vh;
  margin-left: 9%;
  margin-top: 4%;
  border-radius: 10px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeletonanimation;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
}



.maincard {
  margin-top: 4%;
  margin-left: 29%;
  border-radius: 10px;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: skeletonanimation2;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  position: absolute;
  display: flex;

}

@keyframes skeletonanimation2 {
  0% {
    background-position: -800px 0
  }

  100% {
    background-position: 800px 0
  }
}

.sub-card {
  width: 90vh;
  height: 50vh;
}

.pure-background {
  background-color: #eee;
}